/** Not allowed to change this initial CSS code **/
body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
/*************************************************/
.enter,
.boxar,
.sektion3,
.footer {
  	width: 90%;
  	margin: 10px auto;   /* auto = centrerar */
  	grid-template-columns: repeat(12, 1fr);
  	column-gap: 2%;
	row-gap: 10px;
}
*{
	box-sizing: border-box;
}
.enter {
	border: solid 1px;
	display: grid;
	min-height: 150px;
}


.boxar  {
	display: grid;
}

.box1 {
	grid-column-start: 1;
	grid-column-end: 3;
}

.box2 {
	grid-column-start: 3;
	grid-column-end: 11;
}

.box3 {
	grid-column-start: 11;
	grid-column-end: 13;
}

.content {
	grid-column-start: 1;
	grid-column-end: 10;
}

.sidebar {
	grid-column-start: 10;
	grid-column-end: 13;
}



.sektion3 {
	display: grid;
	
}

div {
	border: 1px solid black;
	min-height: 150px;
}
.footer {
	display: grid;
	border: 1px solid black;
	padding: 5px;

}
.footer section {
	border: 1px solid black;
	min-height: 150px;
	margin: 5px;
}

.footer1 {
	grid-column-start: 1;
	grid-column-end: 4;
}

.footer2 {
	grid-column-start: 4;
	grid-column-end: 7;
}

.footer3 {
	grid-column-start: 7;
	grid-column-end: 10;
}

.footer4 {
	grid-column-start: 10;
	grid-column-end: 13;
}

@media screen and (max-width: 1200px) {
	.box1 {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.box2 {
		grid-column-start: 4;
		grid-column-end: 10;
	}

	.box3 {
		grid-column-start: 10;
		grid-column-end: 13;
	}

	.content {
		grid-column-start: 1;
		grid-column-end: 9;
	}

	.sidebar {
		grid-column-start: 9;
		grid-column-end: 13;
	}
}

@media screen and (max-width: 960px) {

	.box1 {
		grid-column-start: 1;
		grid-column-end: 5;
	}

	.box2 {
		grid-column-start: 5;
		grid-column-end: 9;
	}

	.box3 {
		grid-column-start: 9;
		grid-column-end: 13;
	}

	.content {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.sidebar {
		grid-column-start: 7;
		grid-column-end: 13;
	}

	.footer1 {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.footer2 {
		grid-column-start: 7;
		grid-column-end: 13;
	}

	.footer3 {
		grid-column-start: 1;
		grid-column-end: 7;
	}

	.footer4 {
		grid-column-start: 7;
		grid-column-end: 13;
	}
}

@media screen and (max-width: 768px) {
	.box1 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.box2 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.box3 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.content {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.sidebar {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.footer1 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.footer2 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.footer3 {
		grid-column-start: 1;
		grid-column-end: 13;
	}

	.footer4 {
		grid-column-start: 1;
		grid-column-end: 13;
	}
}